*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #017fe3;
}
#taskName, #priority{
    margin: 2% 20%;
    margin-bottom: 1%;
}

.add-btn-div{
    margin: auto;
}
a{
    text-decoration: none;
}